/* COMMON ----*/
html, body {
    height: 100%;
    background: rgba(0, 0, 0, 0);
    scroll-behavior: smooth;
    margin: 0;
    /* outline: none; */
}
h1, h2, h3, h4, h5, h6, p {
    margin: 5px 0;
    font-size: 10px;
    color: #fff;
}
/* NAV ----*/
nav {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: rgba(0,0,0,.5);
    z-index: 99;
    text-align: center;
}
nav a {
    text-decoration: none;
    line-height: 30px;
    font-family: cursive;
    color: #fff;
}
.nav-div {
    display: inline-block;
    width: 200px;
}
.nav a:visited,
.nav a:link {
    transition: font-size 0.5s;
}
.nav a:hover,
.nav a:active {
    font-size: 120%;
}
@media only screen and (max-width: 420px) {
    .nav-div {
        width: 50%;
        float: left;
    }
    nav a {
        font-size: 14px;
    }
    .nav a:hover,
    .nav a:active {
        font-size: 14px;
    }
}
/*------- SECTION ------*/
.row {
    margin: 0 auto;
}
.section {
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.black {
    background: black;
}
.section-thumbnail img {
    display: block;
    opacity: 0.7;
    transform: scale(0.8);
    transition: transform 0.5s, opacity 0.5s;
    margin: auto;
    width: 100%;
    max-width: 900px;
}
.section-thumbnail img:hover {
    opacity: 1;
    transform: scale(1);
    /* margin: auto; */
}
.first {
    background-image: url("../_assets/img/elephant_wildlife-wallpaper-1920x1080.jpg");
}
.second {
    background-image: url("../_assets/img/mass_effect_andromeda_2017_video_game-wallpaper-1920x1080.jpg");
}
.third {
     background-image: url("../_assets/img/sunset_clouds_guam-wallpaper-1920x1080.jpg");
}
/*------- ANCHOR TARGET --*/
:target {
    padding-top: calc(50vh - 60px);
    margin-top: calc(-50vh + 60px);
    display: block;
    }
/*------- SCROLLBAR ------*/
/* width */
::-webkit-scrollbar {
width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.5);
}
/* Handle */
::-webkit-scrollbar-thumb {
background: rgb(0, 0, 0, 0.8);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555;
}