/*------- COMMON ------*/
* {
    margin: 0;
}
.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
html, body {
    height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 20px;
}

nav {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: rgba(0,0,0,.5);
    z-index: 99;
    text-align: center;
}
nav a {
    text-decoration: none;
    color: #fff;
    margin-left: 30px;
    line-height: 50px;
    font-family: cursive;
}
.row {
    max-width: 1140px;
    margin: 0 auto;
}
/*------ NAV ------*/
.nav a:visited,
.nav a:link {
    transition: font-size 0.5s;
}

.nav a:hover,
.nav a:active {
    font-size: 120%;
}
.nav-contact {
    float: right;
}
/*------- SECTION ------*/
.section {
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
}
.subsection {
    height: 50%;
    background-color: bisque;
}
.section-thumbnail img {
    opacity: 0.7;
    transform: scale(0.8);
    transition: transform 0.5s, opacity 0.5s;
    margin: auto;
}
.section-thumbnail img:hover {
    opacity: 1;
    transform: scale(1);
    margin: auto;
}
.secone {
    background-image: url("../../1_Assets/img/elephant_wildlife-wallpaper-1920x1080.jpg");
}
.sectwo {
    background-image: url("../../1_Assets/img/mass_effect_andromeda_2017_video_game-wallpaper-1920x1080.jpg");
}
.secthree {
     background-image: url("../../1_Assets/img/sunset_clouds_guam-wallpaper-1920x1080.jpg");
}
