/*---- FONT-FACE ----------------*/
/*-------------------------------*/
@font-face {
  font-family: "playball";
  src: url('../../_assets/font/playball/Playball.ttf') format("TrueType");
}
@font-face {
  font-family: "assassin";
  src: url('../../_assets/font/assassin/Assassin$.ttf') format("TrueType");
}
/*---- FADEIN -------------------*/
/*-------------------------------*/
@keyframes fadein {
  from { 
    opacity: 0;
    transform: translateY(70vh);
  } to { 
    opacity: 1;
    transform: translateY(75vh);
  }
}
@-webkit-keyframes fadein {
  from { 
    opacity: 0;
    transform: translateY(70vh);
  }to { 
    opacity: 1;
    transform: translateY(75vh);
   }
}
/*---- ORBIT --------------------*/
/*-------------------------------*/
@keyframes orbit {
  from{
      transform: rotate(0deg);
  }to{
      transform: rotate(360deg);
  }
}
@-webkit-keyframes orbit {
  from{
      transform: rotate(0deg);
  }to{
      transform: rotate(360deg);
  }
}
/*---- COSMOS -------------------*/
/*-------------------------------*/
@-webkit-keyframes cosmos {
  from {
    background-position-y: 0px;
  }
  to {
    background-position-y: -1000px;
  }
}
@keyframes cosmos {
  from {
    background-position-y: 0px;
  }
  to {
    background-position-y: -1000px;
  }
}
/*---- PLANET -------------------*/
/*-------------------------------*/
@-webkit-keyframes planet {
  from {
    background-position-y: -10000px;
  }
  to {
    background-position-y: 0px;
  }
}
@keyframes planet {
  from {
    background-position-y: -10000px;
  }
  to {
    background-position-y: 0px;
  }
}
/*---- HVR-HANG -----------------*/
/*-------------------------------*/
@-webkit-keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
}
@keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
}