/*---- VARIABLES ----------------*/
/*-------------------------------*/
:root {
  --text-color: #faebd7;
}
/*---- COMMON -------------------*/
/*-------------------------------*/
* {
  margin: 0;
  padding: 0;
}
*:focus {
  outline: none;
}
::-webkit-scrollbar {
  display: none;
}
#solar {
  display: none;
 }
 #background {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../img/background-cosmos9x.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* animation: cosmos 80s infinite linear; */
  transform: rotateZ(360deg);
  position: absolute;
}
a:link,
a:visited {
    text-decoration: none;
}
a:active,
a:hover {
    text-decoration: none;
}
h1 {
  margin-top: 40px;
  font-family: "assassin";
  font-size: 30px;
  font-weight: 400;
}
/*---- LOADER -------------------*/
/*-------------------------------*/
#preloader-overlay{
  position:fixed;
  background-color:rgba(0, 0, 0, 1);
  height:100%;
  width:100%;
  z-index: 99;
}
.preloader-caption {
  font-size: 40px;
  color: var(--text-color);
  font-family: "assassin";
  font-weight: 400;
  text-align: center;
  animation: fadein 2s linear forwards;
  opacity: 0;
  display: block;
}
.preloader{
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right: 0;
  margin: auto;
  width: 100px;
  height: 100px;
  border: 2px solid var(--text-color);
  border-radius: 100%;
  animation: orbit 1.5s infinite linear;
  z-index: 100;
}
.preloader-orbit {
  position: absolute;
  transform: translateY(-50px);
  border-radius: 100%;
  background-color: var(--text-color);
  width: 10px;
  height: 10px;
}
/*---- SOCIAL -------------------*/
/*-------------------------------*/
.social-icons i {
    font-size: 40px;
    color: antiquewhite;
    padding: 0px 15px;
    text-align: center;
    padding-bottom: 15px;
    transition-duration: 0.3s;
}
.social-icons i:hover {
    -webkit-transform: scale(1.3) translateY(-10px);
    -ms-transform: scale(1.3) translateY(-10px);
    -o-transform: scale(1.3) translateY(-10px);
    transform: scale(1.3) translateY(-10px);
}
.fa-codepen:hover {
    color: #2ecc71;
}
.fa-github:hover {
    color: #6e5494;
}
.fa-stack-overflow:hover {
    color: #F48024;
}
.fa-linkedin-in:hover {
    color: #0077B5;
}
.fa-twitter:hover {
    color: #55acee;
}
.fa-envelope:hover {
    color: #B23121;
}
/*---- HEADER -------------------*/
/*-------------------------------*/
#header {
  width: 100%;
  height: 100%;
  z-index: 1;
  text-align: center;
  margin: 0 0;
  font-family: "assassin";
  font-size: 30px;
}
.header-body {
  padding: 0 25%;
  color: #faebd7;
  text-align: left;
  float: left;
  line-height:1.4;
  margin-bottom: 5rem;
}
.header-social {
  text-align: center;
}
.header-image {
  width: 20%;
  height: auto;
  min-width: 150px;
  float: left;
  margin-right: 4rem;
  border-radius: 50%;
  -webkit-shape-outside: circle();
  shape-outside: circle();
}
.header-span {
  font-size:70px;
  line-height:1;
  font-weight:200;
}
.header-sign {
  text-align: right;
  padding-right: 20px;
}
/* .header-sign-image {
  width: 200px;
  padding-top: 20px;
  display: block;
  margin-left: 100%;
  transform: translateX(-100%);
} */
.header-sign-span {
  padding-left: 80px;
}
/*---- CHEVRON ------------------*/
/*-------------------------------*/
.pre-carousel-section {
  font-size: 35px;
  color: antiquewhite;
  width: 100%;
}
.pre-carousel-container {
  width: 100px;
  margin: 100px auto;
}
.pre-carousel-down-arrow {
  text-align: center;
  margin-top: -80px;
}
.hvr-hang {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-hang {
  -webkit-animation-name: hvr-hang-sink, hvr-hang;
  animation-name: hvr-hang-sink, hvr-hang;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
/*---- EARTH --------------------*/
/*-------------------------------*/
.solar_systm .planet {
  height: auto;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 600px;
  transition: opacity 2s 0.8s, box-shadow 0s 0s, -webkit-transform 2.8s 0.23s cubic-bezier(0.33, 0, 0, 1);
  transition: transform 2.8s 0.23s cubic-bezier(0.33, 0, 0, 1), opacity 2s 0.8s, box-shadow 0s 0s;
  transition: transform 2.8s 0.23s cubic-bezier(0.33, 0, 0, 1), opacity 2s 0.8s, box-shadow 0s 0s, -webkit-transform 2.8s 0.23s cubic-bezier(0.33, 0, 0, 1);
  background-size: 2000px 910px !important;
  top: auto;
  bottom: -920px;
  animation: planet 600s infinite linear;
  transform: rotateZ(360deg)
}

.solar {
  position: absolute;
  -webkit-transform: rotatex(-20deg);
          transform: rotatex(-20deg);
  -webkit-perspective: 800px;
          perspective: 800px;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
          max-height: 80px;
          padding-top: 80px;
          overflow:hidden;
          bottom: -3px;
          z-index: 1;

}
.earth::after {
  width: 220px;
  height: 220px;
  border-radius: 550px;
  -webkit-appearance: none;
      -moz-appearance: none;
          appearance: none;
  outline: none;
  cursor: pointer;
  z-index: 1;
  left: 18px;
  bottom: 282px;
}
.solar_systm:nth-of-type(1) .planet {
  -webkit-transform: translateZ(0px) translateY(0) rotatex(4deg) scalex(1.5);
          transform: translateZ(0px) translateY(0) rotatex(4deg) scalex(1.5);
  opacity: 2;
}
.solar_systm .planet.earth {
  background-image: url("../img/earth4x.jpg");
  box-shadow: 0 -590px 150px black inset, 0 0px 130px 40px #8cbaff inset, 0 0px 23px 4px #8cbaff inset, 0 -10px 80px #7894a9;
}
.solar_systm .planet.earth .trajectory.m {
  width: auto;
  height: 1500px;
  left: -150px;
  top: -110px;
}
/*---- PORTFOLIO ----------------*/
/*-------------------------------*/
.portfolio {
  width: 80%;
  margin: auto;
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(4, 1fr);
  /* IE grid workaround */
  text-align: center;
}
@media only screen and (max-width: 2100px) {
  .portfolio {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}
@media only screen and (max-width: 1060px) {
  .portfolio {
    grid-template-columns: repeat(2, 1fr);
    width: calc(100% - 20px);
    margin: auto;
  }
}
.portfolio-heading {
  grid-column: 1 / -1;
}
/* IE grid workaround */
.card {
  display: inline-block;
  max-width: 500px;
  margin-left: 10px;
  margin-right: 10px;
}
.card-h5 {
  color:#faebd7;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'assassin';
  font-size: 20px;
}
.card-image {
  width: 100%;
}
.js--pre-carousel {
    visibility: visible;
    opacity: 1;
}
.js--pre-carousel.animated {
    visibility: visible;
    opacity: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}
/*---- FOOTER -------------------*/
/*-------------------------------*/
.footer {
  margin-top: 90px;
  margin-bottom: 10px;
  grid-column: 1 / -1;
}
.footer-section {
    position: absolute;
    bottom: 0;
    width: 100vw;
}
.footer-container {
    margin: 0 auto;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.footer-font {
    font-family: 'playball';
    color: antiquewhite;
}
.footer-copyright {
    text-align: center;
    font-size: 20px;
    line-height: 40px;
}
.footer-social {
    text-align: center;
}
.js--footer {
    opacity: 1;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    width: 100%;
    margin-top:40px;
}
.js--footer.animated {
    opacity: 1;
}
.footer-col {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
	float: left;
    padding: 2px;
	margin: 1px 0 1px 1.6%;
}
.footer-col:first-child { margin-left: 0; }
.footer-col i {
    font-size: 25px;
    color: antiquewhite;
    padding: 0 15px;
}
.footer-col a:link,
.footer-col a:visited {
    text-decoration: none;
}
.footer-col a:active,
.footer-col a:hover {
    text-decoration: none;
}
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
.span_2_of_2 {
	width: 100vw;
}
.span_1_of_2 {
	width: 49.2%;
}